@import '~bootstrap/scss/bootstrap';
@import '../../node_modules/@wizardhealth/stimulus-multiselect/src/multiselect.css';

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 5px solid $danger;
}

table {
    table-layout: fixed;
    min-width: 70rem;
}

.pagination {
    margin: 0;
}

.multiselect__container {
    @extend .form-control;
}

.multiselect__input-container {
    display: block;
}

.multiselect__search {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font-size: inherit;
    outline: none;
    background: transparent;
}

.multiselect__dropdown {
    background-color: var(--bs-dropdown-bg);
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
    z-index: var(--bs-dropdown-zindex);
}

.multiselect__list li:hover {
    background-color: var(--bs-dropdown-link-hover-bg);
}

.multiselect__focused {
    background-color: var(--bs-dropdown-link-hover-bg);
}

.multiselect__pill {
    background-color: var(--bs-dropdown-link-active-bg);
    color: var(--bs-dropdown-link-active-color);
    border: 1px solid var(--bs-dropdown-link-active-border-color);
}
