{% extends 'base.html.twig' %}

{% block title %}Konfigurator{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Konfigurator</h1>
                <p>Hier entsteht ein Konfigurator</p>
            </div>
        </div>
    </div>
{% endblock %}
