{% extends 'base_w_header.html.twig' %}

{% block title %}
    Configurator - Choose your type
{% endblock %}

{% block body %}
    <div class="container">
        <h1>How would you like to name your car?</h1>
        {{ component('AlertContainer') }}
        <form name="configureNameForm" class="my-5" method="post" action="{{ path('app_configuration_name') }}">
            <div class="row g-3">
                <div class="col-md-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" maxlength="150" placeholder="BinnFinder" name="carName" value="{{ carName }}">
                        <label for="floatingInput">Name</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('app_configuration_color') }}" class="btn btn-lg btn-primary">Back</a>
                        <button type="submit" class="btn btn-lg btn-primary">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
